*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
 
}


a{
    text-decoration: none;
    outline:none;
    color: white;
}

.bg{
    background-color: #1f2023;;
}

.header-opacity {
    opacity: 0.8;
}
.mr-5{
    margin-right: 5px;
}


.red{
    color: rgba(255, 0, 0, 0.598);
}

.rd{
    color: rgb(255, 0, 0);
}

::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.5rem;
    background-color: #0000009f;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3f4558;
    border-radius: 0.5rem;
  }
